.product__box--content--box--element{
    width: 20%;
    padding: 15px;
    cursor: pointer;
}
.product__box--content--box--element--image{
    max-width: 170px;
    max-height: 170px;
}
.product__box--content--box--element--image--img{
    width: 100%;
    height: 100%;
}
.product__box--content--box--element--title{
    margin: 0;
    font-size: 18px;
    color: black;
    font-weight: 500;
    font-family: 'Montserrat';
}
.product__box--content--box--element--value{
    margin: 0;
    font-size: 24px;
    color: black;
    font-weight: 800;
    font-family: 'Montserrat';
}

/* MOBILE */
@media (max-width: 1024px) {
    .product__box--content--box--element{
        width: 45%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }   
}

/* ONLY CLLPHONE */

@media (max-width: 724px) {
    .product__box--content--box--element{
        width: 100%;
    }
    .product__box--content--box--element--title{
        margin-top: 15px;
        text-align: center;
    }
    .product__box--content--box--element--image{
        max-width: unset;
        max-height: unset;
    }
}